<!--<!DOCTYPE html>
<html lang="en">

&lt;!&ndash; Head &ndash;&gt;
<head>

    <title>入社申请</title>

    &lt;!&ndash; Meta-Tags &ndash;&gt;
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Valid Address Form Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    &lt;!&ndash; //Meta-Tags &ndash;&gt;

    &lt;!&ndash; Custom-Style-Sheet &ndash;&gt;
    <link rel="stylesheet" href="css/bootstrap.min.css"	type="text/css" media="all">
    <link rel="stylesheet" href="css/style.css"			type="text/css" media="all">
    &lt;!&ndash; //Custom-Style-Sheet &ndash;&gt;

    &lt;!&ndash; Fonts &ndash;&gt;
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"		type="text/css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"					type="text/css" media="all">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"	type="text/css" media="all">
    &lt;!&ndash; //Fonts &ndash;&gt;
    <script src="http://codeorigin.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/progress.js"></script>
</head>
&lt;!&ndash; //Head &ndash;&gt;



&lt;!&ndash; Body &ndash;&gt;
<body>-->
<link rel="stylesheet" href="./css/clubHome/application.css">

<div class="wj-application wj-text">
    <h1 class="wj-text">入社申请</h1>
    <form id="test-form" action="#" method="post">
        <fieldset>
            <legend class="section-title">个人资料</legend>
            <div class="section agile-info row">
                <fieldset>
                    <div class="form-group apply col-md-4">
                        <label class="control-label" for="first-name-1">姓名</label>
                        <input  class="form-control wj-input  " id="first-name-1" name="pt-first" value="" type="text" maxlength="50" required>
                    </div>
                </fieldset>
            </div>
            <div class="section wj-agileits">
                <fieldset>
                    <div class="form-group">
                        <label class="control-label" for="street-address">个人简介<span class="label label-info">【选填】</span></label>
                        <input  class="form-control wj-input  " id="street-address" name="pt-address" value="" type="text" maxlength="200">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="city">入社原因<span class="label label-info">【选填】</span></label>
                        <input class="form-control wj-input  " id="city" name="pt-city" value="" type="text" maxlength="50">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label" for="country">现居住地</label>
                            <select class="form-control wj-input  " id="country" name="pt-country" required>
                                <option value="AL">AAAAAA</option>
                                <option value="AK">BBBBBBBBB</option>
                                <option value="AB">ccccccc</option>
                                <option value="AS">ddddd</option>
                                <option value="AZ">reeeeeeeeeeeeee</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="section">
                <fieldset>
                    <legend>联系方式</legend>
                    <div class="row">
                        <div class="form-group agileits-wj-layouts col-md-6">
                            <label class="control-label" for="phone">手机号码</label>
                            <input class="form-control wj-input  " id="phone" name="pt-phone" value="" type="tel" maxlength="25" required />
                        </div>
                        <div class="form-group agileits-wj-layouts col-md-6">
                            <label class="control-label" for="qq">QQ号码</label>
                            <input class="form-control wj-input  " id="qq" name="pt-phone" value="" type="tel" maxlength="25" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="email">邮箱</label>
                            <input class="form-control wj-input  agileits-wj-layouts" id="email" name="userEmail" value="" type="email" maxlength="50" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="wchat">微信号</label>
                            <input class="form-control wj-input  " id="wchat" name="conf-email" value="" maxlength="50" required>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="section">
                <fieldset>
                    <fieldset>
                        <legend style="text-shadow:0px 0px 6px #f2f8ff;color: aliceblue;font-size: 30px">Are you human?</legend>
                        <label for="yes" class="radio-inline">
                            <input type="radio" id="yes" name="testRadio" required> Yes
                        </label>
                        <label for="no" class="radio-inline apply">
                            <input type="radio" id="no" name="testRadio"> No
                        </label>
                    </fieldset>
                </fieldset>
            </div>

        </fieldset>
        <div class="form-group wj-agile">
        <button type="submit" value="Submit" class="btn btn-lg agile btn-primary wj-submit"ng-click="apply()">Submit</button>
    </div>
    </form>
</div>
<!--
<script>
    $(document).ready(function() {
        $('#test-form').showProgress();
    });
</script>
</body>


</html>-->
