<meta charset='UTF-8'>
<link href='./css/clubHome/clubIntroduction.css' rel='stylesheet'>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12 col-xs-12 dyj-introduction">
        <span class="dyj-introduction-head">Club Introduction</span>
        <a class="row col-md-12 col-xs-12 dyj-introduction-pattern">
            <li class="col-md-12 col-xs-12 dyj-circle">
                <div class="col-md-3 col-xs-3  dyj-circle-text">Logo：{{club.logoimage}}</div>
                <li class="col-md-9 col-xs-12 dyj-introduction-text">介绍：{{club.introduction}}</li>
            </li>
            <div class="dyj-introduction-bottom"></div>
        </a>
    </div>
    </div>
</div>