<div class="xt-clubhome-datapage .container">
    <div class="col-xs-12">
        <!--<div class="messagebox">-->
        <!--<div class="row message" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"-->
        <!--ng-repeat="i in data|orderBy:'time':true">-->
        <!--<div class="row">-->
        <!--<div class="  xt-flex message-headline">-->
        <!--<div class="message-headline-title">{{i.title}}</div>-->
        <!--<div class="xt-flex-grow"></div>-->
        <!--<div class="message-headline-time">{{showDate(i.time)}}</div>-->
        <!--</div>-->

        <!--<div class="col-xs-12 xt-flex message-content">-->
        <!--<div class="xt-text" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"-->
        <!--ng-bind-html="i.content | to_trusted"></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="message-download" ng-show="hoverEdit" ng-click="download(i)">-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="xt-downloadBox xt-flex">
            <div class="xt-download xt-flex" ng-repeat="i in data|orderBy:'time':true">
                <div class=" xt-title xt-flex">
                    <div class="xt-flex-grow"></div>
                    {{i.title}}
                </div>
                <div class=" xt-type xt-flex">文本</div>
                <div class=" xt-des xt-flex">{{i.content}}</div>
                <div class=" xt-down xt-flex">
                    <span class="fa fa-download" ng-click="download(i)"></span>
                </div>
            </div>
        </div>

    </div>
</div>