<link rel="stylesheet" href="./css/clubHome/testclubpage.css">
<div class="xt-flex-center">
    <div class="xt-clubhome">
        <div class="xt-clubhome-clubTitle">
            <div class="clubhome-clubTitle-name">{{club.name}}</div>
            <div class="xt-flex-rightend clubhome-clubTitle-intro">{{club.introduction}}</div>
        </div>
        <img src="./image/clubhome_head.jpg" alt="">
        <div class="xt-nav">
            <div class="nav-linkcontainer">
                <a ui-sref="testclubHomepage.homepage" class="first" ng-click="cur=1">社团主页</a>
                <a ui-sref="testclubHomepage.datapage" class="second" ng-click="cur=2">社团动态</a>
                <hr ng-class="{hrFirst:cur==1,hrSecond:cur==2}"/>
            </div>
        </div>
        <div ui-view=""></div>
    </div>

</div>