<link rel="stylesheet" href="./css/clubHome/testclubpage.css">
<div class="xt-flex-center">
    <div class="xt-clubhome">
        <div class="xt-clubhome-clubTitle">
            <div class="clubhome-clubTitle-name">{{club.name}}</div>
            <div class="xt-flex-rightend clubhome-clubTitle-intro">{{club.introduction}}</div>
        </div>
        <img src="./image/clubhome_head.jpg" alt="">
        <div class="xt-clubhome-clubNav xt-flex">
            <div class="clubhome-clubNav-btn xt-flex-center" ui-sref="testclubHomepage.homepage">主页</div>
            <div class="clubhome-clubNav-btn  xt-flex-center" ui-sref="testclubHomepage.datapage">资料</div>
            <div class="xt-flex-grow"></div>
            <div class="clubhome-clubNav-btn xt-flex-center" ng-click="back()">返回</div>
        </div>
        <div ui-view=""></div>
    </div>

</div>