<link rel="stylesheet" href="./css/admin/associationManagement.css">
<div class="xt-currentAssociation " ng-click="back()" >{{AssociationName}}</div>
<div class="xt-nav">
    <div class="nav-linkcontainer">
        <a ui-sref=".dataManagement"class="first" ng-click="cur=1">资料管理</a>
        <a ui-sref=".activityManagement" class="second" ng-click="cur=2">活动管理</a>
        <a ui-sref=".newsManagement"class="third" ng-click="cur=3">新闻管理</a>
        <a ui-sref=".memberManagement" class="fourth" ng-click="cur=4">社员管理</a>
        <hr ng-class="{hrFirst:cur==1,hrSecond:cur==2,hrThird:cur==3,hrFourth:cur==4}"/>
    </div>
</div>
<div class="xt-box">
    <div ui-view class="xt-box-view"></div>
</div>