<div class="container xt-showboard">
    <h1 class="xt-flex-center">社员管理</h1>
    <div class="row" ng-repeat="i in member" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">

        <div class="col-xs-12 xt-flex-center xt-showboard-item">
            <div class="col-xs-12 xt-flex">
                <div class="showboard-item-content xt-flex-center xt-flex-zero xt-flex-col4">{{i.name}}</div>
                <div class="showboard-item-content xt-flex-center xt-flex-zero xt-flex-col4">{{i.type}}</div>
            </div>
            <div class="col-xs-3 xt-flex-center">
                <a ng-click="addAdmin(i)" ng-show="hoverEdit" ng-if="i.type!=='申请者'" class="showboard-item-btn  xt-flex-center">
                    <span class="fa fa-user"></span>
                </a>
                <a ng-click="addMember(i)" ng-show="hoverEdit" ng-if="i.type==='申请者'" class="showboard-item-btn  xt-flex-center">
                    <span class="fa fa-plus"></span>
                </a>
                <a ng-click="showMemberInfo(i)" ng-show="hoverEdit" ng-if="i.type!=='申请者'"class="showboard-item-btn xt-flex-center">
                    <span class="fa fa-eye"></span>
                </a>
                <a ng-click="showApplicationInfo(i)" ng-show="hoverEdit" ng-if="i.type==='申请者'"class="showboard-item-btn xt-flex-center">
                    <span class="fa fa-eye"></span>
                </a>
                <a class="showboard-item-btn xt-flex-center" ng-show="hoverEdit" ng-if="i.type!=='申请者'" ng-click="delMember(i._id)">
                    <span class="fa fa-trash"></span>
                </a>
                <a class="showboard-item-btn xt-flex-center" ng-show="hoverEdit"  ng-if="i.type==='申请者'"ng-click="denyApplication(i._id)">
                    <span class="fa fa-trash"></span>
                </a>
            </div>
        </div>

    </div>

</div>