<link rel="stylesheet" href="./css/activitynews/activityInform.css">

<div class="chy-box">
    <div class="left-information">
        <h1>{{activity.title}}</h1>
        <div class="activity-info">
            <!--todo 为了展示效果写死的图片 实际应显示所属社团的logo-->
            <img ng-src="{{activity.association.logoimage}}" class="club-logo">
            <div class="activity-club-name">{{activity.associationName}}</div>
            <div class="activity-time">{{activity.time | myDateTime}}</div>
            <p class="activity-place">{{activity.place}}</p>
        </div>
    </div>
    <div class="right-image">
        <img ng-src="{{activity.imgSrc || '/web/file/showImg?location=activityimg/PS&name=6.jpg'}}" alt="">
    </div>
    <div class="activityInform-content" ng-bind-html="activity.content | to_trusted"></div>
    <div class="btns">
        <button type="button" class="btn btn-default chy-enter" ng-click="enter()">报名</button>
        <button type="button" class="btn btn-default" ng-click="back()">返回</button>
    </div>
</div>