<div class="container">

    <div class="association" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-repeat="i in asso">
        <div class="xt-flex-rightend">
            <div class="association-name" ng-click="activityManagement(i)">{{i.name}}</div>
            <div class="xt-flex-grow"></div>
        </div>
        <div class="xt-flex-center">
            <div class="association-imagebox">
                <img ng-src="{{i.imgSrc}}" alt="">
            </div>
        </div>
    </div>
</div>
