<div class="container">
    <div class="row">
        <div class="view-user-right col-xs-12">
            <div class="row ">
                <div class="col-xs-12 xt-flex">
                    <div class="user-right-head">我的动态</div>
                </div>
            </div>
            <div class="messagebox">
                <div class="row message" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"
                     ng-repeat="i in res|orderBy:'time':true">
                    <div class="row">
                        <div class="  xt-flex message-headline">
                            <img class="message-headline-logo" ng-src="{{i.association.logoimage}}"/>
                            <div class="detailContainer">
                                <div class="message-headline-association">{{i.association.name}}</div>
                                <div class="message-headline-time">{{showDate(i.time)}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="message-content">
                        <div class="xt-flex-center">
                            <div class="message-content-imagebox">
                                <img src="image/index.jpg" class=""/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="xt-text contentbox">
                                <div class="title">
                                    {{i.title}}
                                </div>
                               <div class="content" >
                                   {{i.content}}
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>