.chy-box {
  width: 100%;
  margin-left: 5%;
  display: flex;
}
.chy-box > div:first-child {
  margin-left: 1%;
  margin-top: 4%;
}
.chy-box > div:first-child p {
  margin-left: 2%;
  color: rgba(129, 157, 244, 0.93);
  font-size: 20px;
  font-family: 楷体;
}
.chy-box > div:nth-child(2) {
  margin-left: 8%;
  margin-top: 8%;
}
.chy-box > div:nth-child(2) > p:first-child {
  color: rgba(129, 157, 244, 0.93);
  font-size: 20px;
  font-family: 楷体;
}
.chy-box > div:nth-child(2) textarea {
  height: 30px;
  border: 1px solid #DFD7F4;
  margin-left: 5%;
  color: rgba(129, 157, 244, 0.93);
}
.chy-box .chy-activityEdit-tips {
  display: flex;
  margin-top: 10%;
}
.chy-box .chy-activityEdit-tips div:nth-of-type(2) {
  margin-left: 10%;
}
.chy-box .chy-activityEdit-tips div p {
  color: #131DFA;
  font-size: 20px;
  font-family: 楷体;
}
.chy-box .chy-activityEdit-tips div input {
  height: 30px;
  border: 1px solid #DFD7F4;
  margin-left: 5%;
}
.chy-box .chy-activityEdit-association {
  text-align: center;
}
.chy-box .chy-activityEdit-association p {
  padding-top: 20px;
  color: #61bfff;
  font-size: 20px;
  font-family: 楷体;
}
.chy-box .chy-activityEdit-association div {
  color: white;
  font-size: 18px;
  margin-left: 5%;
  word-wrap: break-word;
  line-height: 28px;
}
.chy-box .chy-edit-btn {
  display: flex;
  margin-left: 80%;
  margin-top: 30%;
}
.chy-box .btn {
  font-size: 20px;
  margin-right: 20%;
  border-radius: 5px;
  color: #819DF4;
  border-color: rgba(66, 66, 66, 0.33);
}
.chy-box .btn:hover {
  color: #FA8072;
  border-color: rgba(66, 66, 66, 0.33);
  background-color: #F8F8FF;
}
