.fkq-center {
  height: 350px;
  width: 50%;
  padding: 5%;
  margin: auto;
  margin-top: 30px;
  border: 1px solid #E8F3EC;
  border-radius: 5px;
}
.fkq-center input,
.fkq-center button {
  margin-top: 3%;
}
.fkq-center .fkq-sign .login-title {
  text-align: center;
  font-size: 30px;
}
.fkq-center .fkq-sign .number-line,
.fkq-center .fkq-sign .password-line,
.fkq-center .fkq-sign .btns {
  width: 70%;
  margin: auto;
  margin-top: 10px;
}
.fkq-center .fkq-sign .reset-pwd-btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.54);
  float: right;
  margin-right: 60px;
}
.fkq-center .fkq-sign .reset-pwd-btn:hover {
  color: rgba(0, 0, 0, 0.84);
}
.fkq-center .fkq-sign .btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.fkq-center .fkq-sign .btns .login-btn {
  width: 100%;
  background-color: #0077e6;
  border-color: #0077e6;
  color: #ffffff;
}
.fkq-center .fkq-sign input {
  background: 0 0;
  border: 0;
  border-bottom: 1px solid #c2cad8;
  color: #555;
  box-shadow: none !important;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
  outline: 0 !important;
  line-height: 1.42857;
  display: block;
  border-radius: 0 !important;
}
.fkq-center .fkq-login {
  position: absolute;
}
.fkq-center .fkq-login .fkq-logout {
  color: black;
}
