.fkq-center {
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 600px;
    padding: 5%;

    h1 {
        font-size: 80px;
    }

    input, button {
        margin-top: 3%;
    }

    .fkq-sign {
        width: 440px;

        .fkq-checkbox {
            margin-top: 10px;
            margin-left: 40px;
            margin-bottom: 10px;
            height: 40px;
        }
        .btn-success:hover {
            color: #fff;
            background-color: #33599d;
            border-color: #273784;
        }

        .wj-form {
            background: 0 0;
            border: 0;
            border-bottom: 1px solid #c2cad8;
            color: #555;
            box-shadow: none !important;
            padding-left: 0;
            padding-right: 0;
            font-size: 14px;
            outline: 0 !important;
            line-height: 1.42857;
            display: block;
            border-radius: 0 !important;
        }

        .wj-submit {
            width: 100%;
            background: 0 0;
            border: 0;
            border-bottom: 1px solid #c2cad8;
            color: #555;
            box-shadow: none !important;
            padding-left: 0;
            padding-right: 0;
            font-size: 14px;
            outline: 0 !important;
            line-height: 1.42857;
            display: block;
            border-radius: 0 !important;
        }

    }

    button, button:hover {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        text-decoration: none;
    }

    .fkq-login {
        position: absolute;

        .fkq-logout {
            color: black;
        }
    }

}

.wj-center {
    align-items: center;
    text-align: center;
    align-content: center;
}

.wj-shadow {
    text-shadow: 0px 0px 20px #f2f8ff;
    color: #cce0f1;
    font-size: 20px;
}

