.chy-main {
  background-image: url("../image/index.jpg") !important;
  background-size: 100% 120%;
  background-attachment: fixed;
}
.chy-main .chy-main-title {
  width: 100%;
  text-align: center;
  margin-top: 40%;
}
.chy-main .chy-main-title h1 {
  color: #FFFFFF !important;
  font-family: 华文行楷;
}
.chy-main .chy-main-img {
  width: 100%;
  text-align: center;
  padding-top: 5%;
}
.chy-main .chy-main-img img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.chy-main .chy-main-btns {
  width: 300px;
  margin: auto;
  padding-top: 10%;
}
.chy-main .chy-main-btns button {
  width: 150px;
  margin-left: 25%;
  margin-bottom: 5%;
}
.chy-activity a {
  height: 100px;
  font-size: 22px;
  font-weight: bold;
  font-family: 楷体;
}
.chy-activity .chy-activity-tips {
  font-size: 18px !important;
  font-weight: 100 !important;
  margin-left: 45%;
  margin-top: 3%;
}
.chy-activity .chy-activity-tips > div:nth-of-type(2) {
  float: right;
  margin-right: 10%;
  margin-top: 5px;
}
.chy-introduction h2 {
  font-family: 楷体;
  color: #131dfa;
  font-size: 24px !important;
}
.chy-introduction p {
  margin-top: 8%;
  margin-left: 8%;
  font-size: 16px;
}
.chy-dynamics a {
  font-size: 21px;
  padding-top: 5%;
  color: #131dfa;
}
.chy-dynamics a h1 {
  font-family: 楷体;
  font-size: 22px !important;
}
.chy-activityInform {
  font-family: 楷体;
}
.chy-activityInform h3 {
  margin-left: 5%;
  padding-top: 5%;
  color: rgba(31, 44, 250, 0.76);
}
.chy-activityInform .activityInform-tips {
  display: flex;
}
.chy-activityInform .activityInform-tips p {
  margin-left: 6%;
  font-size: 16px;
  color: rgba(43, 165, 250, 0.76);
}
.chy-activityInform .activityInform-content {
  font-size: 20px;
  margin-left: 8%;
  margin-top: 5%;
}
.chy-activityInform .activityInform-welcome {
  float: right;
  margin-right: 5%;
  margin-top: 15%;
  font-size: 16px;
}
.chy-newsInform {
  width: 90%;
  margin: auto;
}
.chy-newsInform h3 {
  font-family: 楷体;
  padding-top: 5%;
  color: transparent;
  -webkit-text-stroke: 1px rgba(93, 200, 250, 0.86);
}
.chy-newsInform .activityInform-tips {
  display: flex;
}
.chy-newsInform .activityInform-tips p {
  margin-left: 10%;
  font-size: 16px;
}
.chy-newsInform .newsInform-content {
  font-size: 18px;
  margin-left: 5%;
}
.chy-activityEdit .chy-activityEdit-time {
  display: flex;
}
.chy-activityEdit .chy-activityEdit-content textarea {
  width: 80%;
  height: 200px;
}
.chy-newsEdit .chy-newsEdit-time {
  display: flex;
}
.chy-newsEdit .chy-newsEdit-content textarea {
  width: 80%;
  height: 200px;
}
.chy-newsEdit .chy-newsEdit-fileInput {
  margin-left: 5%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 120px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  background-color: #131dfa;
  border: 1px solid rgba(43, 165, 250, 0.45);
}
.chy-newsEdit .chy-newsEdit-fileInput input {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
}
.chy-newsEdit .chy-newsEdit-pic {
  margin-left: 15px;
  width: 200px;
  height: 200px;
  border: 1px solid lightskyblue;
}
.chy-about .header .col {
  background-color: lightgrey;
}
.chy-about .col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}
.chy-about .col:last-child {
  border-right: solid 1px grey;
}
.chy-about .row:last-child .col {
  border-bottom: solid 1px grey;
}
.chy-checkbox {
  display: flex;
}
.chy-checkbox span {
  font-size: 16px;
  margin-left: 3%;
}
.chy-register .input-label {
  font-size: 18px;
  color: rgba(19, 29, 250, 0.86);
}
.chy-clubDownload .item {
  height: 150px;
}
.chy-clubDownload .item p {
  width: 70%;
}
.chy-clubDownload .item button {
  margin-left: 78%;
  margin-top: 6%;
}
.chy-clubHome .chy-clubHome-top {
  display: flex;
  justify-content: space-between;
}
.chy-clubHome .chy-clubHome-top h1 {
  margin: 0;
  margin-top: -10px;
  font-size: 24px !important;
  line-height: 34px !important;
  color: rgba(19, 29, 250, 0.45);
}
.chy-clubHome .chy-clubHome-top div {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #00a0e9;
  border-radius: 5px;
  font-size: 14px;
  line-height: 30px;
  color: #131dfa;
}
.chy-clubHome .chy-clubHome-time {
  padding-top: 10px;
}
