<div class="container">
    <div class="row">
        <div class="view-user-right col-xs-12">
            <div class="row ">
                <div class="col-xs-12 xt-flex">
                    <div class="user-right-head">我的动态</div>
                </div>
            </div>
            <div class="messagebox">
                <div class="row message"  ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-repeat="i in res|orderBy:'time':true">
                    <div class="row">
                        <div class="  xt-flex message-headline">
                            <div class="message-headline-title">{{i.title}}</div>
                            <div class="xt-flex-grow"></div>
                            <div class="message-headline-time">{{showDate(i.time)}}</div>
                            <div class="message-headline-type">{{i.type}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 xt-flex message-content">
                            <div class="xt-text contentbox" ng-bind-html="i.content | to_trusted"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="message-viewAll" ng-show="hoverEdit" ng-click="view(i)">
                            <span class="fa fa-book"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>