<link rel="stylesheet" href="./css/home/introduction.css">
<div class="chy-box">
    <div ng-repeat="data in datas" class="chy-item" ng-click="clubHomepage(data)">
        <div class="add-association">
            <h3>{{data.name}}</h3>
            <!--<img src="image/add.svg" class="add-icon">-->
            <div class="add-icon"><i class="fas fa-plus fa-lg" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i>
            </div>
        </div>
        <!--<p>社长:{{data.adminName}}</p>-->
        <!--todo 为了展示效果写死的图片 实际应显示社团的宣传图片-->
        <div class="poster">
            <img ng-src="{{data.imgSrc}}">
        </div>
    </div>
</div>