<ion-view view-title="newsEdit">
    <ion-content class="chy-newsEdit">

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Title</span>
                <input type="text">
            </label>

            <label class="item item-input chy-newsEdit-content">
                <span class="input-label">Content</span>
                <textarea maxlength="500"></textarea>
            </label>

            <label class="item item-input chy-newsEdit-time">
                <span class="input-label">ActivityTime</span>
                <input type="date">
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Association
                </div>
                <select>
                    <option>灵动魔方社</option>
                    <option selected>计算机科技协会</option>
                    <option>sunshine动漫社</option>
                </select>
            </label>

            <span class="chy-newsEdit-fileInput">
                <span>选择图片上传</span>
                <input type="file">
            </span>
            <img class="chy-newsEdit-pic">

            <label class="item">
                <button class="button button-block button-calm" type="submit">Submit</button>
            </label>
        </div>
    </ion-content>
</ion-view>