.container-fluid {
  padding: 0;
}
.dyj-activity {
  width: 100%;
  height: 50vw;
  border: 2px solid #f2f2f2;
  background-image: url("../../image/clubActivity_bg_img.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;
}
.dyj-activity-head {
  color: #ededed;
  font-size: 3vw;
  font-weight: 800;
  font-family: "MV Boli";
  display: flex;
  justify-content: center;
}
.dyj-activity-pattern {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.dyj-activity-title {
  width: 17vw;
  height: 16vw;
  font-size: 1.5vw;
  font-weight: 600;
  font-family: 微软雅黑;
  background: rgba(156, 209, 193, 0.3);
  display: flex;
  justify-content: center;
  line-height: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 2px solid #aaaaaa;
  color: #ffffff;
  padding: 0px;
}
.dyj-activity-title:hover {
  background: rgba(156, 209, 193, 0.6);
}
.dyj-activty-position {
  margin-left: 6%;
}
.dyj-title-position {
  margin-top: 70%;
}
.dyj-content-position {
  margin-left: 2%;
  margin-top: 5%;
}
.dyj-activity-content {
  list-style: none;
  width: 33vw;
  height: 16vw;
  background: rgba(205, 232, 213, 0.3);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ffffff;
  font-size: 1.3vw;
  font-family: 幼圆;
  font-weight: 800;
  overflow-y: scroll;
}
.dyj-activity-content:hover {
  background: rgba(205, 232, 213, 0.5);
}
.dyj-activity-total {
  width: 35vw;
  height: 16vw;
  margin-top: 10%;
  display: flex;
}
.fa-anchor {
  font-size: 2.5vw;
  margin-left: 80%;
  margin-top: 15%;
  color: #000;
}
