<ion-content class="chy-main">
    <div class="chy-main-title">
        <h1>Association Admin</h1>
    </div>
    <div class="chy-main-img">
        <img src="./image/applogo.jpg">
    </div>
    <div class="chy-main-btns">
        <button class="button button-outline button-light" ng-click="login()">登录</button>
        <button class="button button-outline button-light" ng-click="register()">注册</button>
        <button class="button button-outline button-light" ng-click="resetPwd()">重置密码</button>
    </div>
</ion-content>
