<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Register</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeRegister()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="chy-register">
        <form ng-submit="doRegister()">
            <div class="list">

                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="registerData.name">
                </label>

                <label class="item item-input">
                    <span class="input-label">Student_ID</span>
                    <input type="text" ng-model="registerData.studentID">
                </label>

                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-if="!showregisterpwd" type="password" ng-model="registerData.pwdText">
                    <input ng-if="showregisterpwd" type="text" ng-model="registerData.pwdText">
                </label>

                <label class="item item-input">
                    <span class="input-label">Password again</span>
                    <input ng-if="!showregisterpwd" type="password" ng-model="registerData.pwdText2">
                    <input ng-if="showregisterpwd" type="text" ng-model="registerData.pwdText2">
                </label>

                <label class="checkbox chy-checkbox">
                    <input type="checkbox" ng-click="showregisterpwd=!showregisterpwd">
                    <span>Show Password</span>
                </label>

                <label class="item item-input">
                    <span class="input-label">E-mail</span>
                    <input type="text" ng-model="registerData.email">
                </label>

                <label class="item item-input">
                    <span class="input-label">Phone_number</span>
                    <input type="text" ng-model="registerData.mobile">
                </label>

                <label class="item item-input">
                    <span class="input-label">Sex(Choose one of the following)</span>
                </label>

                <div class="row">
                    <div class="col-50">
                        <ion-radio id="male" name="sex" value="male" ng-model="registerData.sex">Boy</ion-radio>
                    </div>
                    <div class="col-50">
                        <ion-radio id="female" name="sex" value="female" ng-model="registerData.sex">Girl</ion-radio>
                    </div>
                </div>

                <label class="item">
                    <button class="button button-block button-positive" type="submit">Register</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
