.chy-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding-top: 50px;
}
.chy-box .left-information {
  width: 50%;
}
.chy-box .left-information h1 {
  padding-left: 10px;
  padding-top: 20px;
  font-size: 56px;
}
.chy-box .left-information .activity-info {
  position: relative;
  margin-bottom: 10px;
  margin-top: 250px;
}
.chy-box .left-information .activity-info .club-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 10px;
}
.chy-box .left-information .activity-info .activity-time,
.chy-box .left-information .activity-info .activity-club-name,
.chy-box .left-information .activity-info .activity-place {
  margin-left: 80px;
}
.chy-box .left-information .activity-info .activity-club-name {
  padding-top: 25px;
}
.chy-box .left-information .activity-info .more-icon,
.chy-box .left-information .activity-info .bookmark-icon {
  float: right;
  margin-top: -38px;
  margin-right: 18px;
}
.chy-box .right-image {
  width: 50%;
  height: 500px;
  background-image: url(../../image/clubhome_head.jpg);
  background-position: 50% 50% !important;
}
.chy-box .activityInform-content {
  width: 100%;
  margin-top: 100px;
  font-size: 22px;
  overflow: auto;
  text-align: center;
}
.chy-box .btns {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.chy-box .btns .btn {
  float: right;
  border-radius: 5px;
  color: #819DF4;
  border-color: rgba(66, 66, 66, 0.33);
}
.chy-box .btns .chy-enter {
  margin-right: 10px;
}
.chy-box .btns .btn:hover {
  color: #FA8072;
  border-color: rgba(66, 66, 66, 0.33);
  background-color: #F8F8FF;
}
