@-webkit-keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//__________________________________________AnimationEffect_____________________________________________

.chy-box {
    -webkit-animation: 1s show;
    position: relative;
    width: 85%;
    height: 500px;
    margin: auto;
    margin-top: 3%;
    background-color: rgba(187, 207, 255, 0.51);
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
    border-bottom-right-radius: 6px 50px;
    border-top-right-radius: 6px 50px;

    > p:first-of-type {
        font-size: 26px;
        font-weight: bold;
        padding-top: 5%;
        margin-left: 8%;
        color: #ccdeff;
        font-family: 楷体;
        text-shadow: 3px 3px 20px;
    }

    .newsInform-tips {
        margin-top: 10px;
        margin-left: 8%;
        display: flex;
        p {
            margin-left: 5%;
        }
    }

    .newsInform-content {
        margin: auto;
        margin-top: 5%;
        width: 80%;
        height: 250px;
        word-break: break-all;
        color: #d8fffc;
        overflow: auto;
    }
}

.btn {
    float: right;
    margin-top: -3%;
    margin-left: 80%;
    border-radius: 5px;
    color: #819DF4;
    border-color: rgba(66, 66, 66, 0.33);
}

.btn:hover {
    color: #FA8072;
    border-color: rgba(66, 66, 66, 0.33);
    background-color: #F8F8FF;
}
