<ion-view view-title="Welcome">

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
            <i class="icon ion-ios-arrow-back"></i> Back
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-header-bar class="bar-subheader bar-calm">
        <h1 class="title">个人信息</h1>
    </ion-header-bar>

    <ion-content class="chy-user">

        <div class="list">

            <label class="item item-input">
                <span class="input-label">Name</span>
                <p>{{user.name}}</p>
            </label>

            <label class="item item-input">
                <span class="input-label">Student_ID</span>
                <p>{{user.studentID}}</p>
            </label>

            <label class="item item-input">
                <span class="input-label">E-mail</span>
                <p>{{user.email}}</p>
            </label>

            <label class="item item-input">
                <span class="input-label">Phone_number</span>
                <p>{{user.mobile}}</p>
            </label>

            <label class="item item-input">
                <span class="input-label">Sex</span>
                <p>{{user.sex}}</p>
            </label>

            <!--<label class="item item-input">-->
                <!--<span class="input-label">Club</span>-->
                <!--<p>{{user.associations}}</p>-->
            <!--</label>-->

        </div>
    </ion-content>
</ion-view>
