<link rel="stylesheet" href="./css/main/home.css">
<!--<point-canvas></point-canvas>-->
<div class="jumbotron text-center fkq-home">
    <!--<h1>社团风采</h1>-->
    <!--<div class="fkq-view">-->
        <!--<a ui-sref=".activity" class="btn btn-warning">社团活动</a>-->
        <!--<a ui-sref=".introduction" class="btn btn-default">社团介绍</a>-->
        <!--<a ui-sref=".dynamics" class="btn btn-success">社团动态</a>-->
    <!--</div>-->
</div>
<div ui-view>
    如果你看得到这行文字说明有些地方出了点问题...尝试换个浏览器或者下载最新版chrome
</div>