<link rel="stylesheet" href="./css/main/register.css">
<star-canvas></star-canvas>
<form>
    <div class="fkq-register">
        <div>
            <div class="col-lg-12 text-center text-info">
                <h1 class="fkq-text-shadow fkq-register-title">register</h1>
            </div>
            <div class="col-lg-12">
                <input type="text" name="studentID" placeholder="学号(必填)" ng-model="user.studentID"
                       ng-class="{'form-control':true,errinput:user.studentIDerr}" autofocus/>
            </div>
            <div class="col-lg-12">
                <input type="password" name="password" placeholder="密码(必填)" ng-model="user.pwdText"
                       ng-class="{'form-control':true,errinput:user.pwdTexterr}"/>
            </div>
            <div class="col-lg-12">
                <input type="password" name="password" placeholder="再输入一次密码(必填)" ng-model="user.pwdText2"
                       ng-class="{'form-control':true,errinput:user.pwdText2err}"/>
            </div>
            <div class="col-md-12">
                <input type="text" id="email" name="userEmail" placeholder="邮箱(必填 用于密码重置)" maxlength="50" ng-model="user.email"
                       ng-class="{'form-control':true,errinput:user.emailerr}"/>
            </div>
            <div class="col-lg-12">
                <input type="text" name="nickname" placeholder="昵称" ng-model="user.nickname" class="form-control"/>
            </div>
            <div class="col-lg-12">
                <input type="text" name="name" placeholder="姓名(必填)" ng-model="user.name"
                       ng-class="{'form-control':true,errinput:user.nameerr}"/>
            </div>
            <div class="col-lg-12 fkq-checkbox fkq-text-shadow">
                <span>性别</span>
                <label for="male" class="radio-inline">
                    <input type="radio" id="male" name="sex" value="male" ng-model="user.sex"/>男
                </label>
                <label for="female" class="radio-inline apply">
                    <input type="radio" id="female" name="sex" value="female" ng-model="user.sex"/>女
                </label>
            </div>
        </div>
        <div class="col-lg-12">
            <input type="text" name="sex" placeholder="手机号码" ng-model="user.mobile" class="form-control"/>
            <button type="submit" class="btn btn-success col-lg-12 fkq-submit" ng-click="register()">注册</button>
        </div>
    </div>
</form>
