<link rel="stylesheet" href="./css/main/login.css">
<form>
    <div class="fkq-center">
        <div class="fkq-sign" ng-if="!islogin">
            <div class="login-title">登录</div>
            <div class="number-line">
                <input type="text" class="form-control" name="studentID" placeholder="请输入学号" autofocus
                       ng-model="user.studentID"/>
            </div>
            <div class="password-line">
                <input type="password" class="form-control" name="password" placeholder="请输入密码"
                       ng-model="user.pwdText"/>
            </div>
            <button type="submit" class="btn reset-pwd-btn " ng-click="resetPwd()">重置密码</button>
            <div class="btns">
                <button type="submit" class="btn login-btn " ng-click="login()">登录</button>
            </div>
        </div>
        <div ng-if="islogin" class="fkq-login">
            login as ：
            <h1>{{user.name}}</h1>
            <p>{{user.studentID}}</p>
            <p>{{user.email}}</p>
            <button class="btn btn-warning" ng-click="logout()">登出</button>
        </div>
    </div>
    <div ng-if="!islogin" class="to-register" ui-sref="register">没有账号？<span>注册</span></div>
</form>

