<link rel="stylesheet" href="./css/main/register.css">
<form>
    <div class="fkq-register">
        <div>
            <div class="register-title">注册</div>
            <div class="number-line">
                <input type="text" name="studentID" placeholder="学号(必填)" ng-model="user.studentID"
                       ng-class="{'form-control':true,errinput:user.studentIDerr}" autofocus/>
            </div>
            <div class="password-line">
                <input type="password" name="password" placeholder="密码(必填)" ng-model="user.pwdText"
                       ng-class="{'form-control':true,errinput:user.pwdTexterr}"/>
            </div>
            <div class="password-again-line">
                <input type="password" name="password" placeholder="再输入一次密码(必填)" ng-model="user.pwdText2"
                       ng-class="{'form-control':true,errinput:user.pwdText2err}"/>
            </div>
            <div class="email-line">
                <input type="text" id="email" name="userEmail" placeholder="邮箱(必填 用于密码重置)" maxlength="50" ng-model="user.email"
                       ng-class="{'form-control':true,errinput:user.emailerr}"/>
            </div>
            <div class="nickname-line">
                <input type="text" name="nickname" placeholder="昵称" ng-model="user.nickname" class="form-control"/>
            </div>
            <div class="name-line">
                <input type="text" name="name" placeholder="姓名(必填)" ng-model="user.name"
                       ng-class="{'form-control':true,errinput:user.nameerr}"/>
            </div>
            <div class="sex-line">
                <span>性别</span>
                <label for="male" class="radio-inline">
                    <input type="radio" id="male" name="sex" value="male" ng-model="user.sex" class="male-input"/>男
                </label>
                <label for="female" class="radio-inline apply">
                    <input type="radio" id="female" name="sex" value="female" ng-model="user.sex" class="female-input"/>女
                </label>
            </div>
        </div>
        <div class="mobile-line">
            <input type="text" name="sex" placeholder="手机号码" ng-model="user.mobile" class="form-control"/>
        </div>
        <div class="btns">
            <button type="submit" class="btn register-btn" ng-click="register()">注册</button>
        </div>
    </div>
    <div class="to-login" ui-sref="login">已有账号？<span>登录</span></div>
</form>
