.chy-box {
  width: 95%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.chy-box .chy-item {
  box-sizing: border-box;
  width: 32%;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  background-color: #ffffff;
}
.chy-box .chy-item .poster {
  height: 280px;
  background-image: url(../../image/clubhome_head.jpg);
  background-position: 50% 50% !important;
}
.chy-box .chy-item h3 {
  margin-bottom: 0 !important;
  margin-left: 10px;
}
.chy-box .chy-item .chy-content {
  position: relative;
  margin-bottom: 10px;
}
.chy-box .chy-item .chy-content .club-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 10px;
}
.chy-box .chy-item .chy-content .activity-time,
.chy-box .chy-item .chy-content .activity-club-name {
  margin-left: 60px;
}
.chy-box .chy-item .chy-content .activity-club-name {
  padding-top: 25px;
}
.chy-box .chy-item .chy-content .more-icon,
.chy-box .chy-item .chy-content .bookmark-icon {
  float: right;
  margin-top: -38px;
  margin-right: 18px;
}
